[run]
branch = True
source =
    application
    topside
omit =
    */__init__.py
    */tests/*
    topside/release_info.py

[report]
exclude_lines =
    pragma: no cover
    if self.DEBUG_MODE:
    raise NotImplementedError
