# Linter config

.pylintrc

# IDE files and directories

.idea/
.vscode/
.pydevproject
.project

# Qt Designer Config Files
topside_qtcreator.*

# Python

venv/

__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

Topside.spec

.coverage
