# Linter config

.pylintrc

# IDE files and directories

.idea/
.vscode/
.pydevproject
.project

# Qt Designer Config Files
topside_qtcreator.cflags
topside_qtcreator.config
topside_qtcreator.creator
topside_qtcreator.cxxflags
topside_qtcreator.files
topside_qtcreator.includes

# Python

venv/

__pycache__/
*.py[cod]

build/
dist/
*.egg-info/

Topside.spec

.coverage
