autopep8==1.5.2
cx-freeze==6.1
datatest==0.9.6
lark-parser==0.9.0
matplotlib==3.2.0
networkx==2.4
numpy==1.15.1
pyinstaller==3.6
PySide2==5.14.1
pytest==5.4.2
pyyaml==5.3.1
scipy==1.4.1
setuptools==41.2.0
shiboken2==5.14.1
twine==3.1.1
wheel==0.34.2
