autopep8==1.5.4
cx-freeze==6.1
datatest==0.9.6
lark-parser==0.10.0
matplotlib==3.3.0
networkx==2.4
numpy==1.19.2
pyinstaller==4.1
pyqtgraph==0.11.0
PySide2==5.15.1
pytest==5.4.2
pyyaml==5.4
scipy==1.5.2
setuptools==65.5.1
shiboken2==5.15.1
twine==3.1.1
wheel==0.34.2
